html,
body,
#root {
  height: 100%;
}

.pf-c-content {
  --pf-c-content--small--Color: red;
  /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple;
  /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon;
  /* changes a <hr> color to lemonchiffon */
}
